* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.YouTube {
    text-align: center;
}

.ListBorder {
    border: solid gold;
    max-width: 90px;
    margin: 30px;
    border-radius: 30px;
}

.QuoteBruce {
    font-family: monospace;
    font-size: small;
    
}