* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.ListBorder {
    border: solid gold;
    max-width: 100px;
    margin: 20px;
    border-radius: 10px;
}

.QuoteBruce {
    font-family: monospace;
    font-size: small;
    
}